@media only screen and (max-width: 576px) {
  * {
    padding: 0;
    margin: 0;
  }

  /*JUJUY*/
  /* Header */
  .headerJujuy .headerJujuy__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerJujuy .headerJujuy__span {
    color: #EE964B;
  }

  .listaEncabezado {
    position: sticky;
    top: 75px;
    z-index: 2;
  }
  .listaEncabezado__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #1c1f22;
  }
  .listaEncabezado__item {
    font-family: dosis;
    text-align: center;
  }
  .listaEncabezado__enlace {
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--salta {
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--tucuman {
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--catamarca {
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.8s;
  }
  .listaEncabezado__enlace:hover {
    color: #EE964B;
  }
  .listaEncabezado__enlace--salta:hover {
    color: #4085cf;
  }
  .listaEncabezado__enlace--tucuman:hover {
    color: #F4D35E;
  }
  .listaEncabezado__enlace--catamarca:hover {
    color: #7DBBC3;
  }

  .encabezadoMainJujuy, .encabezadoMainContacto {
    display: flex;
    flex-direction: column;
    background-color: #EE964B;
    padding-bottom: 20px;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainContacto__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__subtitulo, .encabezadoMainContacto .encabezadoMainJujuy__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainContacto__texto {
    margin: 0 10px 0 10px;
    text-align: justify;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainContacto__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainContacto__img {
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterJujuy__textoInferior {
    font-size: 15px;
    color: #EE964B;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Salta*/
  /* Header */
  .headerSalta .headerSalta__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerSalta .headerSalta__span {
    color: #4085cf;
  }

  .encabezadoMainSalta {
    display: flex;
    flex-direction: column;
    background-color: #4085cf;
    padding-bottom: 20px;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMainSalta .encabezadoMainSalta__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
  }
  .encabezadoMainSalta .encabezadoMainSalta__texto {
    margin: 0 10px 0 10px;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainSalta .encabezadoMainSalta__img {
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterSalta__textoInferior {
    font-size: 15px;
    color: #4085cf;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Tucuman*/
  /* Header */
  .headerTucuman .headerTucuman__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerTucuman .spanTucuman__div {
    color: #F4D35E;
  }

  .encabezadoMainTucuman {
    display: flex;
    flex-direction: column;
    background-color: #F4D35E;
    padding-bottom: 20px;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    color: #212529;
    font-family: dosis;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__texto {
    margin: 0 10px 0 10px;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__img {
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterTucuman__textoInferior {
    font-size: 15px;
    color: #F4D35E;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Catamarca*/
  /* Header */
  .headerCatamarca .headerCatamarca__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerCatamarca .headerCatamarca__span {
    color: #7DBBC3;
  }

  .encabezadoMainCatamarca {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #7DBBC3;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    color: white;
    font-family: dosis;
    color: white;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__texto {
    margin: 0 10px 0 10px;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__img {
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterCatamarca__textoInferior {
    font-size: 15px;
    color: #7DBBC3;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .section__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: dosis;
    margin-bottom: 40px;
    height: 100px;
    background-color: #212529;
    color: white;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .article {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 98%;
    text-align: center;
  }
  .article--atractivosTuristicos {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 98%;
  }
  .article__subtitulo {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    box-shadow: 2px 2px 2px #838383;
  }
  .article__subtitulo--salta {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #838383;
    margin: 10px 0 10px 0;
    font-family: dosis;
    background-color: #4085cf;
  }
  .article__subtitulo--tucuman {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 2px #838383;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    background-color: #F4D35E;
    color: #212529;
  }
  .article__subtitulo--catamarca {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #838383;
    margin: 10px 0 10px 0;
    font-family: dosis;
    background-color: #7DBBC3;
  }
  .article__boton {
    font-family: dosis;
    font-size: 20px;
    letter-spacing: 0.5px;
    transition: 0.5s;
  }
  .article__boton:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .article__texto {
    margin: 30px 10px 30px 10px;
    text-align: justify;
    color: #212529;
    font-family: dosis;
  }
  .article__imagen {
    width: 90%;
    height: 250px;
    border-radius: 5px;
  }
  .article__imagen--alojamiento {
    width: 95%;
    height: 250px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }

  .alojamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EE964B;
  }
  .alojamientos--salta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4085cf;
  }
  .alojamientos--tucuman {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4D35E;
  }
  .alojamientos--catamarca {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7DBBC3;
  }

  .alojamientos__titulo {
    text-align: center;
    font-size: 30px;
    font-family: dosis;
    background-color: #EE964B;
    border: none;
    margin: 0 !important;
    color: white;
    padding: 30px 0 30px 0;
  }
  .alojamientos__titulo--salta {
    text-align: center;
    font-size: 30px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #4085cf;
  }
  .alojamientos__titulo--tucuman {
    text-align: center;
    font-size: 30px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #F4D35E;
    color: #212529;
  }
  .alojamientos__titulo--catamarca {
    text-align: center;
    font-size: 30px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #7DBBC3;
  }

  .fotoAlojamientos {
    display: none;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    padding-top: 20px;
  }
  .mapa .mapa__titulo {
    color: white;
    font-family: dosis;
    padding: 10px 85px 10px 85px;
    margin: 0 !important;
    border: 1px solid white;
  }
  .mapa .mapa__iframe {
    width: 80%;
    height: 500px;
    padding: 20px 0 20px 0;
  }
}
@media only screen and (min-width: 576px) {
  * {
    padding: 0;
    margin: 0;
  }

  /*JUJUY*/
  /* Header */
  .headerJujuy .headerJujuy__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerJujuy .headerJujuy__span {
    color: #EE964B;
  }

  .listaEncabezado {
    position: sticky;
    top: 75px;
    z-index: 2;
  }
  .listaEncabezado__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #1c1f22;
  }
  .listaEncabezado__item {
    font-family: dosis;
  }
  .listaEncabezado__enlace {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--salta {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--tucuman {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--catamarca {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace:hover {
    color: #212529;
    background-color: #EE964B;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--salta:hover {
    color: #212529;
    background-color: #4085cf;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--tucuman:hover {
    color: #212529;
    background-color: #F4D35E;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--catamarca:hover {
    color: #212529;
    background-color: #7DBBC3;
    padding: 12px 10px 12px 10px;
  }

  .encabezadoMainJujuy, .encabezadoMainContacto {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    background-color: #EE964B;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainContacto__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 20px 30px 20px 30px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__subtitulo, .encabezadoMainContacto .encabezadoMainJujuy__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainContacto__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    width: 100%;
    font-size: 17px;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainContacto__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainContacto__img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterJujuy__textoInferior {
    font-size: 15px;
    color: #EE964B;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Salta*/
  /* Header */
  .headerSalta .headerSalta__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerSalta .headerSalta__span {
    color: #4085cf;
  }

  .encabezadoMainSalta {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    background-color: #4085cf;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 20px 30px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMainSalta .encabezadoMainSalta__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMainSalta .encabezadoMainSalta__texto {
    margin: 0 30px 0 30px;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainSalta .encabezadoMainSalta__img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterSalta__textoInferior {
    font-size: 15px;
    color: #4085cf;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Tucuman*/
  /* Header */
  .headerTucuman .headerTucuman__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerTucuman .spanTucuman__div {
    color: #F4D35E;
  }

  .encabezadoMainTucuman {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    background-color: #F4D35E;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divTexto {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 20px 30px;
    color: #212529;
    font-family: dosis;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__texto {
    margin: 0 30px 0 30px;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterTucuman__textoInferior {
    font-size: 15px;
    color: #F4D35E;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Catamarca*/
  /* Header */
  .headerCatamarca .headerCatamarca__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerCatamarca .headerCatamarca__span {
    color: #7DBBC3;
  }

  .encabezadoMainCatamarca {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    background-color: #7DBBC3;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 20px 30px;
    color: white;
    font-family: dosis;
    color: white;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__texto {
    margin: 0 30px 0 30px;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterCatamarca__textoInferior {
    font-size: 15px;
    color: #7DBBC3;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .section__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: dosis;
    margin-bottom: 40px;
    height: 100px;
    background-color: #212529;
    color: white;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .article {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-bottom: 40px;
    width: 95%;
    text-align: center;
  }
  .article--atractivosTuristicos {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 95%;
  }
  .article__subtitulo {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    font-size: 20px;
    box-shadow: 2px 2px 2px #838383;
  }
  .article__subtitulo--salta {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    box-shadow: 2px 2px 2px #838383;
    background-color: #4085cf;
  }
  .article__subtitulo--tucuman {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #838383;
    margin: 10px 0 10px 0;
    font-family: dosis;
    background-color: #F4D35E;
    color: #212529;
  }
  .article__subtitulo--catamarca {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #838383;
    margin: 10px 0 10px 0;
    font-family: dosis;
    background-color: #7DBBC3;
  }
  .article__boton {
    font-family: dosis;
    font-size: 20px;
    letter-spacing: 0.5px;
    transition: 0.5s;
  }
  .article__boton:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .article__texto {
    margin: 30px 30px 30px 30px;
    text-align: justify;
    color: #212529;
    font-family: dosis;
  }
  .article__imagen {
    height: 350px;
    width: 70%;
    border-radius: 10px;
  }
  .article__imagen--alojamiento {
    height: 400px;
    width: 90%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }

  .alojamientos {
    display: flex;
    flex-direction: column;
    background-color: #EE964B;
  }
  .alojamientos--salta {
    display: flex;
    flex-direction: column;
    background-color: #4085cf;
  }
  .alojamientos--tucuman {
    display: flex;
    flex-direction: column;
    background-color: #F4D35E;
  }
  .alojamientos--catamarca {
    display: flex;
    flex-direction: column;
    background-color: #7DBBC3;
  }

  .alojamientos__titulo {
    text-align: center;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
  }
  .alojamientos__titulo--salta {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #4085cf;
  }
  .alojamientos__titulo--tucuman {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #F4D35E;
    color: #212529;
  }
  .alojamientos__titulo--catamarca {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #7DBBC3;
  }

  .fotoAlojamientos {
    display: none;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    padding-top: 20px;
  }
  .mapa .mapa__titulo {
    color: white;
    font-family: dosis;
    padding: 10px 85px 10px 85px;
    margin: 0 !important;
    border: 1px solid white;
  }
  .mapa .mapa__iframe {
    width: 80%;
    height: 500px;
    padding: 20px 0 20px 0;
  }
}
@media only screen and (min-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }

  .listaEncabezado {
    position: sticky;
    top: 75px;
    z-index: 2;
  }
  .listaEncabezado__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #1c1f22;
  }
  .listaEncabezado__item {
    font-family: dosis;
  }
  .listaEncabezado__enlace {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--salta {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--tucuman {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace--catamarca {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 30px 0 30px;
    padding: 12px 10px 12px 10px;
    transition: 0.8s;
  }
  .listaEncabezado__enlace:hover {
    color: #212529;
    background-color: #EE964B;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--salta:hover {
    color: #212529;
    background-color: #4085cf;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--tucuman:hover {
    color: #212529;
    background-color: #F4D35E;
    padding: 12px 10px 12px 10px;
  }
  .listaEncabezado__enlace--catamarca:hover {
    color: #212529;
    background-color: #7DBBC3;
    padding: 12px 10px 12px 10px;
  }

  /*JUJUY*/
  /* Header */
  .encabezadoMainJujuy, .encabezadoMainContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 50px 0;
    background-color: #EE964B;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainJujuy__divTexto, .encabezadoMainContacto .encabezadoMainContacto__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__subtitulo, .encabezadoMainContacto .encabezadoMainJujuy__subtitulo {
    margin: 30px 0 30px 0;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainJujuy__texto, .encabezadoMainContacto .encabezadoMainContacto__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    font-size: 17px;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainJujuy__divImg, .encabezadoMainContacto .encabezadoMainContacto__divImg {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainJujuy .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainJujuy__img, .encabezadoMainContacto .encabezadoMainContacto__img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterJujuy__textoInferior {
    font-size: 15px;
    color: #EE964B;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Salta*/
  /* Header */
  .headerSalta .headerSalta__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerSalta .headerSalta__span {
    color: #4085cf;
  }

  .encabezadoMainSalta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 50px 0;
    background-color: #4085cf;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    color: white;
    font-family: dosis;
    color: white;
  }
  .encabezadoMainSalta .encabezadoMainSalta__subtitulo {
    margin: 30px 0 30px 0;
  }
  .encabezadoMainSalta .encabezadoMainSalta__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    font-size: 17px;
  }
  .encabezadoMainSalta .encabezadoMainSalta__divImg {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainSalta .encabezadoMainSalta__img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterSalta__textoInferior {
    font-size: 15px;
    color: #4085cf;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Tucuman*/
  /* Header */
  .headerTucuman .headerTucuman__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerTucuman .spanTucuman__div {
    color: #F4D35E;
  }

  .encabezadoMainTucuman {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 50px 0;
    background-color: #F4D35E;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    color: white;
    font-family: dosis;
    color: #212529;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__subtitulo {
    margin: 30px 0 30px 0;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    font-size: 17px;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__divImg {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainTucuman .encabezadoMainTucuman__img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterTucuman__textoInferior {
    font-size: 15px;
    color: #F4D35E;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  /*Catamarca*/
  /* Header */
  .headerCatamarca .headerCatamarca__div {
    border-bottom: 1px solid #9c9c9c;
  }
  .headerCatamarca .headerCatamarca__span {
    color: #7DBBC3;
  }

  .encabezadoMainCatamarca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 50px 0;
    background-color: #7DBBC3;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    color: white;
    font-family: dosis;
    color: white;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__subtitulo {
    margin: 30px 0 30px 0;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    font-size: 17px;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__divImg {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMainCatamarca .encabezadoMainCatamarca__img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    bbox-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 11px 16px -2px rgba(0, 0, 0, 0.37);
  }

  .divLogosFooterCatamarca__textoInferior {
    font-size: 15px;
    color: #7DBBC3;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .section__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: dosis;
    margin-bottom: 40px;
    height: 100px;
    background-color: #212529;
    color: white;
  }

  .section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-column-gap: 20px;
  }

  .article {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-bottom: 50px;
    width: 95%;
    text-align: center;
  }
  .article--atractivosTuristicos {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 95%;
  }
  .article__subtitulo {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    box-shadow: 2px 2px 2px #838383;
  }
  .article__subtitulo--salta {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: dosis;
    box-shadow: 2px 2px 2px #838383;
    background-color: #4085cf;
  }
  .article__subtitulo--tucuman {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    box-shadow: 2px 2px 2px #838383;
    font-family: dosis;
    background-color: #F4D35E;
    color: #212529;
  }
  .article__subtitulo--catamarca {
    color: white;
    background-color: #EE964B;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    box-shadow: 2px 2px 2px #838383;
    font-family: dosis;
    background-color: #7DBBC3;
  }
  .article__boton {
    position: absolute;
    bottom: 2%;
    font-family: dosis;
    font-size: 20px;
    letter-spacing: 0.5px;
    transition: 0.5s;
  }
  .article__boton:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .article__texto {
    margin: 30px 30px 30px 30px;
    text-align: justify;
    color: #1c1f22;
    font-family: dosis;
    font-size: 18px;
  }
  .article__imagen {
    width: 90%;
    height: 400px;
    border-radius: 10px;
  }
  .article__imagen--alojamiento {
    height: 300px;
    width: 90%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }

  .alojamientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #1c1f22;
    justify-content: center;
  }
  .alojamientos--salta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #1c1f22;
  }
  .alojamientos--tucuman {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #1c1f22;
  }
  .alojamientos--catamarca {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #1c1f22;
  }

  .alojamientos__titulo {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
  }
  .alojamientos__titulo--salta {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #4085cf;
  }
  .alojamientos__titulo--tucuman {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #F4D35E;
    color: #212529;
  }
  .alojamientos__titulo--catamarca {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 40px;
    border: 1px solid #bebebe;
    font-family: dosis;
    background-color: #EE964B;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #7DBBC3;
  }

  .divFotoAlojamientos {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    background-image: url(../img/fotoJujuy.jpg);
    background-size: cover;
    opacity: 0.7;
    transition: 0.8s;
  }
  .divFotoAlojamientos--salta {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    background-image: url(../img/fotoSalta.jpg);
    background-size: cover;
    opacity: 0.7;
    transition: 0.8s;
  }
  .divFotoAlojamientos--tucuman {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    background-image: url(../img/fotoTucuman.jpg);
    background-size: cover;
    opacity: 0.7;
    transition: 0.8s;
  }
  .divFotoAlojamientos--catamarca {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    background-image: url(../img/fotoCatamarca.jpg);
    background-size: cover;
    opacity: 0.7;
    transition: 0.8s;
  }

  .divFotoAlojamientos:hover {
    opacity: 1;
  }

  .divFotoAlojamientos--salta:hover {
    opacity: 1;
  }

  .divFotoAlojamientos--tucuman:hover {
    opacity: 1;
  }

  .divFotoAlojamientos--catamarca:hover {
    opacity: 1;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    padding-top: 20px;
  }
  .mapa .mapa__titulo {
    color: white;
    font-family: dosis;
    padding: 10px 85px 10px 85px;
    margin: 0 !important;
    border: 1px solid white;
  }
  .mapa .mapa__iframe {
    width: 75%;
    padding: 20px 0 20px 0;
  }
}
@media only screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    scroll-behavior: smooth;
  }

  /*Header*/
  .navbar-brand {
    margin: 0;
    font-family: dosis;
  }

  .nav-item {
    font-size: 18px;
  }

  /*Main*/
  .mainLeyenda__titulo {
    font-size: 25px;
    text-align: center;
  }
  .mainLeyenda__span {
    color: #F95738;
  }
  .mainLeyenda__span--jujuy {
    color: #EE964B;
  }
  .mainLeyenda__span--salta {
    color: #4085cf;
  }
  .mainLeyenda__span--tucuman {
    color: #F4D35E;
  }
  .mainLeyenda__span--catamarca {
    color: #7DBBC3;
  }
  .mainLeyenda__span--contacto {
    color: #f5dc01;
  }

  .encabezadoMain {
    display: flex;
    flex-direction: column;
    background-color: #F95738;
    margin: 0;
    box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
  }
  .encabezadoMain .encabezadoMain__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: white;
    font-family: dosis;
    width: 100%;
  }
  .encabezadoMain .encabezadoMain__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMain .encabezadoMain__texto {
    margin: 0 10px 0 10px;
    font-size: 15px;
  }
  .encabezadoMain .encabezadoMain__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMain .encabezadoMain__img {
    width: 90%;
    height: auto;
  }

  .sectionHome {
    margin: 30px 15px 30px 15px;
  }
  .sectionHome .sectionHome__subtitulos--jujuy {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--salta {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--tucuman {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--catamarca {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__enlace {
    text-decoration: none;
  }
  .sectionHome .sectionHome__subtitulos--jujuy:hover {
    background-color: #EE964B;
  }
  .sectionHome .sectionHome__subtitulos--salta:hover {
    background-color: #4085cf;
  }
  .sectionHome .sectionHome__subtitulos--tucuman:hover {
    background-color: #F4D35E;
    color: #212529;
    text-shadow: none;
  }
  .sectionHome .sectionHome__subtitulos--catamarca:hover {
    background-color: #7DBBC3;
  }
  .sectionHome .sectionHome__texto {
    margin: 20px 20px 20px 20px;
    font-family: dosis;
    text-align: justify;
    font-size: 17px;
  }

  /*Footer*/
  .listasFooter {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
  }

  .agruparListasFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
  }

  .linksUtilesFooter {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }
  .linksUtilesFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .linksUtilesFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .linksUtilesFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }
  .linksUtilesFooter__link:hover {
    color: #bebebe;
  }

  .mapaDelSitioFooter {
    width: 70%;
    text-align: center;
  }
  .mapaDelSitioFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .mapaDelSitioFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .mapaDelSitioFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }
  .mapaDelSitioFooter__link:hover {
    color: #bebebe;
  }

  .MensajeFooter__centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }
  .MensajeFooter__texto {
    font-size: 20px;
    color: #bebebe;
    padding: 10px 5px 10px 5px;
    text-align: center;
  }

  .divLogosFooter {
    display: flex;
    justify-content: center;
    background-color: #1c1f22;
    padding: 20px 0 20px 0;
  }
  .divLogosFooter .divLogosFooter__texto {
    color: #bebebe;
    font-size: 20px;
    margin: 5px 10px 10px 10px;
    font-family: dosis;
  }
  .divLogosFooter .divLogosFooter__logo {
    margin: 10px 15px 5px 15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  .divLogosFooter .divLogosFooter__logo:hover {
    transform: scale(1.4);
  }
  .divLogosFooter .divLogosFooter__enlace {
    display: flex;
    text-decoration: none;
  }
  .divLogosFooter .divLogosFooter__centrarLogo {
    display: flex;
    justify-content: center;
  }

  .divLogosFooter__textoInferior {
    font-size: 15px;
    color: #F95738;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .pieDeFooter {
    background-color: #212529;
    padding: 10px 0 10px 0;
  }
  .pieDeFooter__texto {
    text-align: center;
    color: #bebebe;
    font-family: dosis;
    background-color: #212529;
    margin: 0 !important;
    font-size: 10px;
  }

  #Subir {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    color: black;
    opacity: 0.5;
  }

  .Subir__imagen {
    height: 45px;
    width: 45px;
  }
}
@media only screen and (min-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    scroll-behavior: smooth;
  }

  /* Header */
  .navbar-brand {
    margin: 0;
    font-family: dosis;
  }

  .nav-item {
    font-size: 18px;
  }

  /*Main*/
  .mainLeyenda__span {
    color: #F95738;
  }
  .mainLeyenda__span--jujuy {
    color: #EE964B;
  }
  .mainLeyenda__span--salta {
    color: #4085cf;
  }
  .mainLeyenda__span--tucuman {
    color: #F4D35E;
  }
  .mainLeyenda__span--catamarca {
    color: #7DBBC3;
  }
  .mainLeyenda__span--contacto {
    color: #f5dc01;
  }

  .encabezadoMain {
    display: flex;
    flex-direction: column;
    background-color: #F95738;
    margin: 0;
    box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
  }
  .encabezadoMain .encabezadoMain__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 10px 0 10px;
    color: white;
    font-family: dosis;
    text-align: justify;
  }
  .encabezadoMain .encabezadoMain__subtitulo {
    margin: 30px 0 30px 0;
    font-weight: bold;
  }
  .encabezadoMain .encabezadoMain__texto {
    margin: 0 30px 0 30px;
    font-size: 20px;
  }
  .encabezadoMain .encabezadoMain__divImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMain .encabezadoMain__img {
    width: 60%;
    height: auto;
  }

  .sectionHome {
    margin: 30px 15px 30px 15px;
  }
  .sectionHome .sectionHome__subtitulos--jujuy {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--salta {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--tucuman {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--catamarca {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__enlace {
    text-decoration: none;
  }
  .sectionHome .sectionHome__subtitulos--jujuy:hover {
    background-color: #EE964B;
  }
  .sectionHome .sectionHome__subtitulos--salta:hover {
    background-color: #4085cf;
  }
  .sectionHome .sectionHome__subtitulos--tucuman:hover {
    background-color: #F4D35E;
    color: #212529;
    text-shadow: none;
  }
  .sectionHome .sectionHome__subtitulos--catamarca:hover {
    background-color: #7DBBC3;
  }
  .sectionHome .sectionHome__texto {
    margin: 20px 20px 20px 20px;
    font-family: dosis;
    text-align: justify;
    font-size: 17px;
  }

  /*Footer*/
  .listasFooter {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
  }

  .agruparListasFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
  }

  .linksUtilesFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .linksUtilesFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .linksUtilesFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }
  .linksUtilesFooter__link:hover {
    color: #bebebe;
  }

  .mapaDelSitioFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .mapaDelSitioFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .mapaDelSitioFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }
  .mapaDelSitioFooter__link:hover {
    color: #bebebe;
  }

  .MensajeFooter__centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }
  .MensajeFooter__texto {
    font-size: 20px;
    color: #bebebe;
    padding: 10px 5px 10px 5px;
    text-align: center;
  }

  .divLogosFooter {
    display: flex;
    justify-content: center;
    background-color: #1c1f22;
    padding: 20px 0 20px 0;
  }
  .divLogosFooter .divLogosFooter__texto {
    color: #bebebe;
    font-size: 20px;
    margin: 5px 10px 10px 10px;
    font-family: dosis;
  }
  .divLogosFooter .divLogosFooter__logo {
    margin: 10px 15px 5px 15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  .divLogosFooter .divLogosFooter__logo:hover {
    transform: scale(1.4);
  }
  .divLogosFooter .divLogosFooter__enlace {
    display: flex;
    text-decoration: none;
  }
  .divLogosFooter .divLogosFooter__centrarLogo {
    display: flex;
    justify-content: center;
  }

  .divLogosFooter__textoInferior {
    font-size: 15px;
    color: #F95738;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .pieDeFooter {
    background-color: #212529;
    padding: 10px 0 10px 0;
  }
  .pieDeFooter__texto {
    text-align: center;
    color: #bebebe;
    font-family: dosis;
    background-color: #212529;
    margin: 0 !important;
  }

  #Subir {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    color: black;
    opacity: 0.5;
  }

  .Subir__imagen {
    height: 45px;
    width: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    scroll-behavior: smooth;
  }

  /* Header */
  .navbar-brand {
    margin-right: 20px;
    font-family: dosis;
  }

  .nav-item {
    font-size: 18px;
  }

  /*Main*/
  .mainLeyenda__span {
    color: #F95738;
  }
  .mainLeyenda__span--jujuy {
    color: #EE964B;
  }
  .mainLeyenda__span--salta {
    color: #4085cf;
  }
  .mainLeyenda__span--tucuman {
    color: #F4D35E;
  }
  .mainLeyenda__span--catamarca {
    color: #7DBBC3;
  }
  .mainLeyenda__span--contacto {
    color: #f5dc01;
  }

  .mainLeyenda .mainLeyenda__div {
    border-top: 1px solid #9c9c9c;
  }
  .mainLeyenda .mainLeyenda__span {
    color: #F95738;
  }

  .encabezadoMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 50px 0;
    background-color: #F95738;
    margin: 0;
    box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 5px 14px 5px rgba(0, 0, 0, 0.29);
  }
  .encabezadoMain .encabezadoMain__divTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    color: white;
    font-family: dosis;
  }
  .encabezadoMain .encabezadoMain__subtitulo {
    margin: 30px 0 30px 0;
  }
  .encabezadoMain .encabezadoMain__texto {
    grid-column: 1/2;
    margin: 0 30px 0 30px;
    font-size: 17px;
  }
  .encabezadoMain .encabezadoMain__divImg {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezadoMain .encabezadoMain__img {
    width: 80%;
    height: auto;
  }

  .sectionHome {
    margin: 30px 15px 30px 15px;
  }
  .sectionHome .sectionHome__subtitulos--jujuy {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--salta {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--tucuman {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__subtitulos--catamarca {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #212529;
    font-family: dosis;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    transition: 0.4s;
    font-family: dosis;
  }
  .sectionHome .sectionHome__enlace {
    text-decoration: none;
  }
  .sectionHome .sectionHome__subtitulos--jujuy:hover {
    background-color: #EE964B;
  }
  .sectionHome .sectionHome__subtitulos--salta:hover {
    background-color: #4085cf;
  }
  .sectionHome .sectionHome__subtitulos--tucuman:hover {
    background-color: #F4D35E;
    color: #212529;
    text-shadow: none;
  }
  .sectionHome .sectionHome__subtitulos--catamarca:hover {
    background-color: #7DBBC3;
  }
  .sectionHome .sectionHome__texto {
    margin: 20px 20px 20px 20px;
    font-family: dosis;
    text-align: justify;
    font-size: 17px;
  }

  /*Footer*/
  .listasFooter {
    display: flex;
    flex-direction: row;
    background-color: #212529;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0 0px 0;
  }

  .agruparListasFooter {
    display: flex;
    justify-content: space-around;
  }

  .linksUtilesFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .linksUtilesFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .linksUtilesFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }
  .linksUtilesFooter__link:hover {
    color: #bebebe;
  }

  .mapaDelSitioFooter__subtitulo {
    color: #212529;
    font-family: dosis;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .mapaDelSitioFooter__lista {
    line-height: 2;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .mapaDelSitioFooter__link {
    text-decoration: none;
    color: white;
    font-family: dosis;
    transition: 0.5s;
  }

  .MensajeFooter {
    margin: 0 30px 0 30px;
  }
  .MensajeFooter__centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 0 30px;
    margin-right: 60px;
  }
  .MensajeFooter__texto {
    font-size: 20px;
    color: #212529;
    text-align: center;
    background-color: white;
    opacity: 0.3;
    border-radius: 10px;
    font-family: dosis;
    font-weight: bold;
  }

  .divLogosFooter {
    display: flex;
    justify-content: center;
    background-color: #1c1f22;
    padding: 20px 0 20px 0;
  }
  .divLogosFooter .divLogosFooter__texto {
    color: #bebebe;
    font-size: 20px;
    margin: 5px 10px 10px 10px;
    font-family: dosis;
  }
  .divLogosFooter .divLogosFooter__logo {
    margin: 10px 15px 5px 15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  .divLogosFooter .divLogosFooter__logo:hover {
    transform: scale(1.4);
  }
  .divLogosFooter .divLogosFooter__enlace {
    display: flex;
    text-decoration: none;
  }
  .divLogosFooter .divLogosFooter__centrarLogo {
    display: flex;
    justify-content: center;
  }

  .divLogosFooter__textoInferior {
    font-size: 15px;
    color: #F95738;
    background-color: #212529;
    font-family: dosis;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 !important;
  }

  .pieDeFooter {
    background-color: #212529;
    padding: 10px 0 10px 0;
  }
  .pieDeFooter__texto {
    text-align: center;
    color: #bebebe;
    font-family: dosis;
    background-color: #212529;
    margin: 0 !important;
  }

  #Subir {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    color: black;
    opacity: 0.5;
  }

  .Subir__imagen {
    height: 45px;
    width: 45px;
  }
}
/*Contacto*/
/* Header */
.headerContacto .headerContacto__div {
  border-bottom: 1px solid #9c9c9c;
}
.headerContacto .headerContacto__span {
  color: #f5dc01;
}

.encabezadoMainContacto {
  background-color: #f5dc01;
}
.encabezadoMainContacto .encabezadoMainContacto__divTexto {
  color: #212529;
}
.encabezadoMainContacto .encabezadoMainContacto__subtitulo {
  margin: 30px 0 30px 0;
  font-weight: bold;
}
.encabezadoMainContacto .encabezadoMainContacto__img {
  border: 5px solid rgba(146, 146, 8, 0.555);
}

.form {
  margin: 50px 0 50px 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F95738;
}
.body__titulo {
  font-family: dosis;
  font-size: 30px;
  margin: 20px 0 20px 0;
  color: white;
  text-align: center;
}
.body__texto {
  font-family: dosis;
  font-size: 50px;
  margin: 20px 0 20px 0;
  color: white;
  text-align: center;
}
.body__enlace {
  text-decoration: none;
  font-family: dosis;
  margin: 50px 0 20px 0;
  color: white;
  transition: 0.5s;
}
.body__enlace:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
