.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titulo {
        font-family: dosis;
        font-size: 40px;

    }
    &__texto {
        font-family: dosis;
        font-size: 30px;

    }
    &__enlace {
        text-decoration: none;

    }

}