@import "variables";

/*Contacto*/
/* Header */
.headerContacto {
    .headerContacto__div {
        border-bottom: 1px solid #9c9c9c;
    }

    .headerContacto__span {
        color: $color-encabezadoContacto;

    }    
}
.encabezadoMainContacto {
    @extend .encabezadoMainJujuy;
    background-color: $color-encabezadoContacto;
    

    .encabezadoMainContacto__divTexto {
        @extend .encabezadoMainJujuy__divTexto;
        color: $color-oscuro;
    }
    .encabezadoMainContacto__subtitulo {
        margin: 30px 0 30px 0;
        font-weight: bold
    }
    .encabezadoMainContacto__texto {
        @extend .encabezadoMainJujuy__texto;
    }
    .encabezadoMainContacto__divImg {
        @extend .encabezadoMainJujuy__divImg;

    }
    .encabezadoMainContacto__img {
        @extend .encabezadoMainJujuy__img;
        border: 5px solid rgba(146, 146, 8, 0.555);      
    }
   
}
.form {
    margin: 50px 0 50px 0;  
    
}


