@import "variables"; 

@media only screen and (max-width:576px) {
    *{
        padding: 0;
        margin:0;
    
    }
    /*JUJUY*/
    /* Header */
    .headerJujuy {
        .headerJujuy__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerJujuy__span {
            color: $color-encabezadoJujuy;
    
        }    
    }
    .encabezadoMainJujuy {
        display: flex;
        flex-direction: column;       
        
        background-color: $color-encabezadoJujuy;        
    
        .encabezadoMainJujuy__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            margin: 20px 0px 20px 0px;
            color: $color-blanco;
            font-family: dosis; 
        }
        .encabezadoMainJujuy__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainJujuy__texto {
            margin: 0 10px 0 10px; 
            text-align: justify;        
        }
        .encabezadoMainJujuy__divImg {            
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainJujuy__img {
            width: 95%;
            height: auto;
            border-radius: 5px;    
            border: 10px solid rgba(241, 116, 0, 0.459);      
        }
       
    }
    .divLogosFooterJujuy__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoJujuy;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Salta*/
    /* Header */
    .headerSalta {
        .headerSalta__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerSalta__span {
            color: $color-encabezadoSalta;
    
        }    
    }
    .encabezadoMainSalta {
        display: flex;
        flex-direction: column;             
        background-color: $color-encabezadoSalta;
        
    
        .encabezadoMainSalta__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            margin: 20px 0px 20px 0px;
            color: $color-blanco;
            font-family: dosis; 
        }
        .encabezadoMainSalta__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainSalta__texto {            
            margin: 0 10px 0 10px;
        }
        .encabezadoMainSalta__divImg {          
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainSalta__img {
            width: 95%;
            height: auto;
            border-radius: 5px;     
            border: 10px solid rgba(5, 92, 163, 0.774);      
        }
       
    }
    .divLogosFooterSalta__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoSalta;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Tucuman*/
    /* Header */
    .headerTucuman {
        .headerTucuman__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .spanTucuman__div {
            color: $color-encabezadoTucuman;
    
        }    
    }
    .encabezadoMainTucuman {
        display: flex;
        flex-direction: column;              
        background-color: $color-encabezadoTucuman;
        
    
        .encabezadoMainTucuman__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            margin: 20px 0px 20px 0px;
            color: $color-oscuro;
            font-family: dosis; 
        }
        .encabezadoMainTucuman__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainTucuman__texto {           
            margin: 0 10px 0 10px;
        }
        .encabezadoMainTucuman__divImg {            
            display: flex;
            justify-content: center;
            align-items: center;;
    
        }
        .encabezadoMainTucuman__img {
            width: 95%;
            height: auto;
            border-radius: 5px;                
            border: 10px solid rgba(205, 231, 54, 0.835)
        }
       
    }
    .divLogosFooterTucuman__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoTucuman;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    
    /*Catamarca*/
    /* Header */
    .headerCatamarca {
        .headerCatamarca__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerCatamarca__span {
            color: $color-encabezadoCatamarca;
    
        }    
    }
    .encabezadoMainCatamarca {
        display: flex;
        flex-direction: column;       
               
        background-color: $color-encabezadoCatamarca;
        
    
        .encabezadoMainCatamarca__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;           
            margin: 20px 0px 20px 0px;
            color: $color-blanco;
            font-family: dosis; 
            color: $color-blanco;
        }
        .encabezadoMainCatamarca__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainCatamarca__texto {
           
            margin: 0 10px 0 10px;
        }
        .encabezadoMainCatamarca__divImg {
           
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainCatamarca__img {
            width: 95%;
            height: auto;
            border-radius: 5px;               
            border: 10px solid rgba(236, 236, 236, 0.479);      
        }
       
    }
    .divLogosFooterCatamarca__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoCatamarca;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    .section__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
    
    }
    .section {
        display: flex;
        flex-direction: column;  
        align-items: center;      
        width: 100%; 
    }
    .article { 
        margin: 20px 30px 20px 30px;   
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $color-oscuro;
        border-radius: 10px;
        width: 97%;       
        
        &__subtitulo{
            color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
            &--salta {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoSalta;
            }
            &--tucuman {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoTucuman;
            color: $color-oscuro
            }
            &--catamarca {
                color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
                background-color: $color-encabezadoCatamarca;
        
                }
        }
        
        &__texto {
            margin: 30px 10px 30px 10px;
            text-align: justify;
            color: $color-blanco;  
            font-family: dosis; 

        }
        &__imagen {
            width: 80%;
            height:80%;
            &--alojamiento {
                width: 95%;
                height: 250px;
                margin: 10px 10px 10px 10px;
                border-radius: 5px;
            }
    
        }
    }
    .alojamientos {
        display: flex;        
        flex-direction: column;
        align-items: center;
        background-color: $color-encabezadoJujuy;
        &--salta {
            display: flex;
        flex-direction: column;   
        align-items: center;   
            background-color: $color-encabezadoSalta;
        }
        &--tucuman {
            display: flex;
        flex-direction: column;
        align-items: center;
        
            background-color: $color-encabezadoTucuman;
        }
        &--catamarca {
            display: flex;
        flex-direction: column;
        align-items: center;
            background-color: $color-encabezadoCatamarca;
        }
    }
    .alojamientos__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
        &--salta {
            text-align: center;
            margin: 30px 0 30px 0;
            font-size: 40px;
            border: 1px solid $color-gris;
            font-family: dosis;    
            background-color: $color-encabezadoJujuy;
            margin-bottom: 0;
            border:none;
            color:$color-blanco;
            padding: 30px 0 30px 0;
           background-color: $color-encabezadoSalta; 
        }
        &--tucuman {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoTucuman; 
            color:$color-oscuro;
    
        }
        &--catamarca {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoCatamarca; 
        }   
    }
    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-oscuro;
        padding-top: 20px;
        
        .mapa__titulo {        
            color: $color-blanco;
            font-family: dosis;
            padding: 10px 85px 10px 85px;
            margin: 0 !important;
            border: 1px solid $color-blanco;
        }
        .mapa__iframe {
            width: 80%;
            height: 500px;
            padding: 20px 0 20px 0;    
        }
    }

}

@media only screen and (min-width:576px) {
    *{
        padding: 0;
        margin:0;
    
    }
    /*JUJUY*/
    /* Header */
    .headerJujuy {
        .headerJujuy__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerJujuy__span {
            color: $color-encabezadoJujuy;
    
        }    
    }
    .encabezadoMainJujuy {
        display: flex;
        flex-direction: column;        
        padding: 20px 0 20px 0;
        background-color: $color-encabezadoJujuy;        
    
        .encabezadoMainJujuy__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            margin: 20px 30px 20px 30px;
            color: $color-blanco;
            font-family: dosis; 
        }
        .encabezadoMainJujuy__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainJujuy__texto {
            grid-column: 1/2;
            margin: 0 30px 0 30px;
        }
        .encabezadoMainJujuy__divImg {            
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainJujuy__img {
            width: 60%;
            height: auto;
            border-radius: 5px;    
            border: 10px solid rgba(241, 116, 0, 0.459);      
        }
       
    }
    .divLogosFooterJujuy__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoJujuy;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Salta*/
    /* Header */
    .headerSalta {
        .headerSalta__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerSalta__span {
            color: $color-encabezadoSalta;
    
        }    
    }
    .encabezadoMainSalta {
        display: flex;
        flex-direction: column;        
        padding: 20px 0 20px 0;        
        background-color: $color-encabezadoSalta;
        
    
        .encabezadoMainSalta__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            margin: 20px 30px 20px 30px;
            color: $color-blanco;
            font-family: dosis; 
        }
        .encabezadoMainSalta__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainSalta__texto {            
            margin: 0 30px 0 30px;
        }
        .encabezadoMainSalta__divImg {          
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainSalta__img {
            width: 60%;
            height: auto;
            border-radius: 5px;     
            border: 10px solid rgba(5, 92, 163, 0.774);      
        }
       
    }
    .divLogosFooterSalta__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoSalta;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Tucuman*/
    /* Header */
    .headerTucuman {
        .headerTucuman__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .spanTucuman__div {
            color: $color-encabezadoTucuman;
    
        }    
    }
    .encabezadoMainTucuman {
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px 0;       
        background-color: $color-encabezadoTucuman;
        
    
        .encabezadoMainTucuman__divTexto {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            margin: 20px 30px 20px 30px;
            color: $color-oscuro;
            font-family: dosis; 
        }
        .encabezadoMainTucuman__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainTucuman__texto {           
            margin: 0 30px 0 30px;
        }
        .encabezadoMainTucuman__divImg {            
            display: flex;
            justify-content: center;
            align-items: center;;
    
        }
        .encabezadoMainTucuman__img {
            width: 60%;
            height: auto;
            border-radius: 5px;                
            border: 10px solid rgba(205, 231, 54, 0.835)
        }
       
    }
    .divLogosFooterTucuman__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoTucuman;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    
    /*Catamarca*/
    /* Header */
    .headerCatamarca {
        .headerCatamarca__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerCatamarca__span {
            color: $color-encabezadoCatamarca;
    
        }    
    }
    .encabezadoMainCatamarca {
        display: flex;
        flex-direction: column;        
        padding: 20px 0 20px 0;        
        background-color: $color-encabezadoCatamarca;
        
    
        .encabezadoMainCatamarca__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;           
            margin: 20px 30px 20px 30px;
            color: $color-blanco;
            font-family: dosis; 
            color: $color-blanco;
        }
        .encabezadoMainCatamarca__subtitulo {
            margin: 30px 0 30px 0;
            font-weight: bold;
        }
        .encabezadoMainCatamarca__texto {
           
            margin: 0 30px 0 30px;
        }
        .encabezadoMainCatamarca__divImg {
           
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainCatamarca__img {
            width: 60%;
            height: auto;
            border-radius: 5px;               
            border: 10px solid rgba(236, 236, 236, 0.479);      
        }
       
    }
    .divLogosFooterCatamarca__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoCatamarca;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    .section__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
    
    }
    .section {
        display: flex;
        flex-direction: column;        
        width: 100%; 
    }
    .article { 
        margin: 20px 30px 20px 30px;   
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $color-oscuro;
        border-radius: 10px;
        width: 90%;
     
        
        &__subtitulo{
            color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
            &--salta {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoSalta;
            }
            &--tucuman {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoTucuman;
            color: $color-oscuro
            }
            &--catamarca {
                color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
                background-color: $color-encabezadoCatamarca;
        
                }
        }
        
        &__texto {
            margin: 30px 30px 30px 30px;
            text-align: justify;
            color: $color-blanco;  
            font-family: dosis;  
    
    
        }
        &__imagen {
            width: 70%;
            height:350px;
            &--alojamiento {
                height: 400px;
                width: 90%;
                margin: 10px 10px 10px 10px;
                border-radius: 5px;
            }
    
        }
    }
    .alojamientos {
        display: flex;
        flex-direction: column;
        background-color: $color-encabezadoJujuy;
        &--salta {
            display: flex;
        flex-direction: column;      
            background-color: $color-encabezadoSalta;
        }
        &--tucuman {
            display: flex;
        flex-direction: column;
        
            background-color: $color-encabezadoTucuman;
        }
        &--catamarca {
            display: flex;
        flex-direction: column;
            background-color: $color-encabezadoCatamarca;
        }
    }
    .alojamientos__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
        &--salta {
            text-align: center;
            margin: 30px 0 30px 0;
            font-size: 40px;
            border: 1px solid $color-gris;
            font-family: dosis;    
            background-color: $color-encabezadoJujuy;
            margin-bottom: 0;
            border:none;
            color:$color-blanco;
            padding: 30px 0 30px 0;
           background-color: $color-encabezadoSalta; 
        }
        &--tucuman {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoTucuman; 
            color:$color-oscuro;
    
        }
        &--catamarca {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoCatamarca; 
        }   
    }
    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-oscuro;
        padding-top: 20px;
        
        .mapa__titulo {        
            color: $color-blanco;
            font-family: dosis;
            padding: 10px 85px 10px 85px;
            margin: 0 !important;
            border: 1px solid $color-blanco;
        }
        .mapa__iframe {
            width: 80%;
            height: 500px;
            padding: 20px 0 20px 0;    
        }
    }

}

@media only screen and (min-width:1024px) {
    *{
        padding: 0;
        margin:0;
    
    }
    /*JUJUY*/
    /* Header */    

    .encabezadoMainJujuy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 50px 0;
        background-color: $color-encabezadoJujuy;        
    
        .encabezadoMainJujuy__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            color: $color-blanco;
            font-family: dosis; 
        }
        .encabezadoMainJujuy__subtitulo {
            margin: 30px 0 30px 0;
        }
        .encabezadoMainJujuy__texto {
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            font-size: 17px;
        }
        .encabezadoMainJujuy__divImg {
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainJujuy__img {
            width: 80%;
            height: auto;
            border-radius: 5px;    
            border: 10px solid rgba(241, 116, 0, 0.459);      
        }
       
    }
    .divLogosFooterJujuy__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoJujuy;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Salta*/
    /* Header */
    .headerSalta {
        .headerSalta__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerSalta__span {
            color: $color-encabezadoSalta;
    
        }    
    }
    .encabezadoMainSalta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 50px 0;        
        background-color: $color-encabezadoSalta;
        
    
        .encabezadoMainSalta__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            color: $color-blanco;
            font-family: dosis; 
            color: $color-blanco;
        }
        .encabezadoMainSalta__subtitulo {
            margin: 30px 0 30px 0;
        }
        .encabezadoMainSalta__texto {
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            font-size: 17px;
        }
        .encabezadoMainSalta__divImg {
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainSalta__img {
            width: 80%;
            height: auto;
            border-radius: 5px;     
            border: 10px solid rgba(5, 92, 163, 0.774);      
        }
       
    }
    .divLogosFooterSalta__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoSalta;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    /*Tucuman*/
    /* Header */
    .headerTucuman {
        .headerTucuman__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .spanTucuman__div {
            color: $color-encabezadoTucuman;
    
        }    
    }
    .encabezadoMainTucuman {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 50px 0;       
        background-color: $color-encabezadoTucuman;
        
    
        .encabezadoMainTucuman__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            color: $color-blanco;
            font-family: dosis; 
            color: $color-oscuro;
        }
        .encabezadoMainTucuman__subtitulo {
            margin: 30px 0 30px 0;
        }
        .encabezadoMainTucuman__texto {
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            font-size: 17px;
        }
        .encabezadoMainTucuman__divImg {
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;;
    
        }
        .encabezadoMainTucuman__img {
            width: 80%;
            height: auto;
            border-radius: 5px;                
            border: 10px solid rgba(205, 231, 54, 0.835)
        }
       
    }
    .divLogosFooterTucuman__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoTucuman;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    
    /*Catamarca*/
    /* Header */
    .headerCatamarca {
        .headerCatamarca__div {
            border-bottom: 1px solid #9c9c9c;
        }
    
        .headerCatamarca__span {
            color: $color-encabezadoCatamarca;
    
        }    
    }
    .encabezadoMainCatamarca {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 50px 0;        
        background-color: $color-encabezadoCatamarca;
        
    
        .encabezadoMainCatamarca__divTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            color: $color-blanco;
            font-family: dosis; 
            color: $color-blanco;
        }
        .encabezadoMainCatamarca__subtitulo {
            margin: 30px 0 30px 0;
        }
        .encabezadoMainCatamarca__texto {
            grid-column: 1/2;
            margin: 0 30px 0 30px;
            font-size: 17px;
        }
        .encabezadoMainCatamarca__divImg {
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        .encabezadoMainCatamarca__img {
            width: 80%;
            height: auto;
            border-radius: 5px;               
            border: 10px solid rgba(236, 236, 236, 0.479);      
        }
       
    }
    .divLogosFooterCatamarca__textoInferior {
        font-size: 15px;    
        color:$color-encabezadoCatamarca;
        background-color: $color-oscuro;    
        font-family: dosis;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 !important;
    }
    .section__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
    
    }
    .section {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 20px;   
        width: auto; 
    }    
    .article { 
        margin: 20px 30px 20px 30px;   
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $color-grisClaro;
        border-radius: 10px;
       
        
        &__subtitulo{
            color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
            &--salta {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoSalta;
            }
            &--tucuman {
                color: $color-blanco;
                background-color: $color-encabezadoJujuy;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                margin: 10px 0 10px 0;
                font-family: dosis; 
            background-color: $color-encabezadoTucuman;
            color: $color-oscuro
            }
            &--catamarca {
                color: $color-blanco;
            background-color: $color-encabezadoJujuy;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            font-family: dosis; 
                background-color: $color-encabezadoCatamarca;
        
                }
        }
        
        &__texto {
            margin: 30px 30px 30px 30px;
            text-align: justify;
            color: $color-oscuroSecundario;  
            font-family: dosis;
            font-size: 17px;  
    
    
        }
        &__imagen {
            width: auto;
            height:400px;
            &--alojamiento {
                height: 300px;
                width: 90%;
                margin: 10px 10px 10px 10px;
                border-radius: 5px;
            }
    
        }
    }
    .alojamientos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        background-color: $color-oscuroSecundario;
        &--salta {
            display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
            background-color: $color-oscuroSecundario;
        }
        &--tucuman {
            display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
            background-color: $color-oscuroSecundario;
        }
        &--catamarca {
            display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
            background-color: $color-oscuroSecundario;
        }
    }
    .alojamientos__titulo {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
        &--salta {
            text-align: center;
            margin: 30px 0 30px 0;
            font-size: 40px;
            border: 1px solid $color-gris;
            font-family: dosis;    
            background-color: $color-encabezadoJujuy;
            margin-bottom: 0;
            border:none;
            color:$color-blanco;
            padding: 30px 0 30px 0;
           background-color: $color-encabezadoSalta; 
        }
        &--tucuman {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoTucuman; 
            color:$color-oscuro;
    
        }
        &--catamarca {
            text-align: center;
        margin: 30px 0 30px 0;
        font-size: 40px;
        border: 1px solid $color-gris;
        font-family: dosis;    
        background-color: $color-encabezadoJujuy;
        margin-bottom: 0;
        border:none;
        color:$color-blanco;
        padding: 30px 0 30px 0;
            background-color: $color-encabezadoCatamarca; 
        }   
    }
    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-oscuro;
        padding-top: 20px;
        
        .mapa__titulo {        
            color: $color-blanco;
            font-family: dosis;
            padding: 10px 85px 10px 85px;
            margin: 0 !important;
            border: 1px solid $color-blanco;
        }
        .mapa__iframe {
            width: 75%;
            padding: 20px 0 20px 0;    
        }
    }
        

}