$color-oscuro: #212529;
$color-naranja: rgb(250, 157, 8);
$color-gris: rgb(190, 190, 190);
$color-oscuroSecundario: #1c1f22;
$color-blanco: rgb(255, 255, 255);
$color-encabezadoJujuy:#dd5207; 
$color-encabezadoSalta:#3271b6; 
$color-encabezadoTucuman: #e7f54e;
$color-encabezadoCatamarca: #c70202;
$color-encabezadoContacto: #f8d746;
