$color-oscuro: #212529;
$color-naranja: #F95738;
$color-gris: rgb(190, 190, 190);
$color-grisClaro: rgb(240, 240, 240);
$color-oscuroSecundario: #1c1f22;
$color-blanco: rgb(255, 255, 255);
$color-encabezadoHome: #F95738;
$color-encabezadoJujuy:#EE964B; 
$color-encabezadoSalta:#4085cf; 
$color-encabezadoTucuman: #F4D35E;
$color-encabezadoCatamarca: #7DBBC3;
$color-encabezadoContacto: #f5dc01;
