$color-oscuro: #212529;
$color-naranja: #EB5E28;
$color-gris: rgb(190, 190, 190);
$color-grisClaro: rgb(240, 240, 240);
$color-oscuroSecundario: #1c1f22;
$color-blanco: rgb(255, 255, 255);
$color-encabezadoHome: #EB5E28;
$color-encabezadoJujuy:#DE6B48; 
$color-encabezadoSalta:#E5B181; 
$color-encabezadoTucuman: #DAEDBD;
$color-encabezadoCatamarca: #7DBBC3;
$color-encabezadoContacto: #ffd416;
